<!--
Handoff note for `my_templates/templates/template_index1.html`.
This template is part of the documented source-only project copy.
Read the surrounding blocks to understand what this page renders and how it fits into the feature flow.
-->
{% extends 'base.html' %}

{% load staticfiles %}




    {% block content %}
 
<!--  <div>
       <div class="row">
            <div class="col-md-4 col-sm-6" align='left'>
			<b>Pharmacy Revenue</b><br>
			<hr>
			<a href="/smcproject/adminapp/pharmacy_revenue_today/" class="btn btn-primary" role="button">Pharmacy Revenue for Today</a>
                      <br>  <br> 
			<a href="/smcproject/adminapp/pharmacy_revenue_last_week/" class="btn btn-danger" role="button">Pharmacy Revenue for Last Week</a>
			
					 <br>  <br> 			
			<a href="/smcproject/adminapp/pharmacy_revenue_this_month/" class="btn btn-primary" role="button">Pharmacy Revenue for This Month</a>
					 <br>  <br>
		
			<a href="/smcproject/adminapp/pharmacy_revenue_monthly/" class="btn btn-danger" role="button">Monthly Revenue from Pharmacy</a>
				     <br>  <br>				

			<a href="/smcproject/adminapp/pharmacy_revenue_yearly/" class="btn btn-primary" role="button">Yearly Revenue from Pharmacy</a>
					<br>  <br>				
            </div>
			
			



			
			
            <div class="col-md-4 col-sm-6" align='left'>
			<b>Laboratory Revenue</b> <br>
			<hr>
			<a href="/smcproject/adminapp/lab_revenue_today/" class="btn btn-primary" role="button">Lab Revenue for Today</a>
                      <br>  <br> 
			<a href="/smcproject/adminapp/lab_revenue_last_week/" class="btn btn-danger" role="button">Lab Revenue for Last Week</a>
			
					 <br>  <br> 			
			<a href="/smcproject/adminapp/lab_revenue_this_month/" class="btn btn-primary" role="button">Lab Revenue for This Month</a>
					 <br>  <br>
		
			<a href="/smcproject/adminapp/lab_revenue_monthly/" class="btn btn-danger" role="button">Monthly Revenue from Lab</a>
				     <br>  <br>				

			<a href="/smcproject/adminapp/lab_revenue_yearly/" class="btn btn-primary" role="button">Yearly Revenue from Lab</a>
					<br>  <br>		
            </div>




			
            <div class="col-md-4 col-sm-6" align='left'>
			<b>Revenue from Procedures & Consumables</b><br>
			<hr>

			<a href="/smcproject/adminapp/procedure_revenue_today/" class="btn btn-primary" role="button">Procedures & Consumables Revenue for Today</a>
                      <br>  <br> 
			<a href="/smcproject/adminapp/procedure_revenue_last_week/" class="btn btn-danger" role="button">Procedures & Consumables Revenue for Last Week</a>
			
					 <br>  <br> 			
			<a href="/smcproject/adminapp/procedure_revenue_this_month/" class="btn btn-primary" role="button">Procedures & Consumables Revenue for This Month</a>
					 <br>  <br>
		
			<a href="/smcproject/adminapp/procedure_revenue_monthly/" class="btn btn-danger" role="button">Monthly Revenue from Procedures & Consumables</a>
				     <br>  <br>				

			<a href="/smcproject/adminapp/procedure_revenue_yearly/" class="btn btn-primary" role="button">Yearly Revenue from Procedures & Consumables</a>
					<br>  <br>		
            </div>
			
</div>
</div> -->
<!-- <hr>
<hr>
<hr> -->
			
<div>
       <!--  <div class="row">
            <div class="col-md-4 col-sm-6" align='left'>
			<b>Consultation Revenue</b><br>
               <hr>                
			<a href="/smcproject/adminapp/consultation_revenue_today/" class="btn btn-primary" role="button">Consultation Revenue for Today</a>
                      <br>  <br> 
			<a href="/smcproject/adminapp/consultation_revenue_last_week/" class="btn btn-success" role="button">Consultation Revenue for Last Week</a>
			
					 <br>  <br> 			
			<a href="/smcproject/adminapp/consultation_revenue_this_month/" class="btn btn-primary" role="button">Consultation Revenue for This Month</a>
					 <br>  <br>
		
			<a href="/smcproject/adminapp/consultation_revenue_monthly/" class="btn btn-success" role="button">Monthly Revenue from Consultation</a>
				     <br>  <br>				

			<a href="/smcproject/adminapp/consultation_revenue_yearly/" class="btn btn-primary" role="button">Yearly Revenue from Consultation</a>
					<br>  <br>		
            </div> -->

			
			
			
			
			
			
 <!--            <div class="col-md-4 col-sm-6" align='left'>
			<b>Pharmacy Revenue</b> <br>
			<hr>
			<a href="/smcproject/adminapp/pharmacy_revenue_today/" class="btn btn-primary" role="button">Pharmacy Revenue for Today</a>
                      <br>  <br> 
			<a href="/smcproject/adminapp/pharmacy_revenue_last_week/" class="btn btn-success" role="button">Pharmacy Revenue for Last Week</a>
			
					 <br>  <br> 			
			<a href="/smcproject/adminapp/pharmacy_revenue_this_month/" class="btn btn-primary" role="button">Pharmacy Revenue for This Month</a>
					 <br>  <br>
		
			<a href="/smcproject/adminapp/pharmacy_revenue_monthly/" class="btn btn-success" role="button">Monthly Revenue from Pharmacy</a>
				     <br>  <br>				

			<a href="/smcproject/adminapp/pharmacy_revenue_yearly/" class="btn btn-primary" role="button">Yearly Revenue from Pharmacy</a>
					<br>  <br>		
            </div>
			
			 -->
			

	<a href="/smcproject/admin/my_templates/medication_templates/?clinicians_name__id__exact={{ request.user.id }}" class="btn btn-info" role="button">My Medication Templates</a>

<hr>


	<a href="/smcproject/admin/my_templates/lab_templates/?clinicians_name__id__exact={{ request.user.id }}" class="btn btn-success" role="button">My Lab Templates</a>
			
			
			 	
	


		
		
    {% endblock %}